rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{folder}/{fileName} {
      allow read: if folder in [
        "doctors",
        "hero",
        "hospitals",
        "logos",
        "procedures",
        "stories",
        "trust",
        "who-we-help"
      ];
      allow write: if false;
    }

    match /smf/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
